.layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 400px 200px;
  grid-template-rows: 100px 400px 100px;
  grid-template-areas:
    ". header ."
    "background-menu editor tools-menu"
    ". download save-load";
  grid-gap: 10px;
  position: relative;
}

.header {
  grid-area: header;
  padding-top: 70px;
}

.background-menu {
  grid-area: background-menu;
  display: grid;
  justify-items: center;
  position: relative;
}

.editor-window {
  grid-area: editor;
  display: grid;
  justify-items: center;
  align-items: center;
}

.tools-menu {
  grid-area: tools-menu;
  display: grid;
  justify-items: center;
  position: relative;
}

.download {
  grid-area: download;
  display: grid;
  justify-items: center;
  align-items: center;
}

.save-load {
  grid-area: save-load;
  display: flex;
  justify-content: center;
  align-items: center;
}
